<!-- @author Luis Miguel -->
<!-- 
  Los valores que estan entre {xxx} son los que se reemplazaran por los valores que se pasen por parametro
  en este ejemplo se reemplazaran los valores {email} y {url} se utilizaran como si fueran variables
 -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
    <div style="width: 100%; background-color: #f2f2f2; padding: 20px 0;">
      <div style="width: 80%; margin: 0 auto; background-color: #fff; padding: 20px;">
        <div style="width: 100%; text-align: center; margin-top: 20px;">
          <h1 style="font-size: 24px; color: #000; margin: 0;">¡Hola, {email}!</h1>
          <p style="font-size: 16px; color: #000; margin: 0;">Gracias por registrarte en Nuestra Página Web.</p>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 20px;">
          <p style="font-size: 16px; color: #000; margin: 0;">Para confirmar tu cuenta, haz clic en el siguiente botón:</p>
          <a href="{url}" style="display: inline-block; background-color: #000; color: #fff; padding: 10px 20px; text-decoration: none; margin-top: 20px;">Confirmar cuenta</a>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 20px;">
          <p style="font-size: 16px; color: #000; margin: 0;">Si no has creado una cuenta, ignora este mensaje.</p>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 20px;">
          <p style="font-size: 16px; color: #000; margin: 0;">¡Gracias!</p>
        </div>
      </div>
    </div>
</body>
</html>